altair
numpy
pandas
pydeck
streamlit==1.31.1
matplotlib
joblib
scikit-learn
geopandas
openpyxl
seaborn
rasterio
requests
plotly
statsmodels
dataframe-image
fpdf
python-docx
streamlit_option_menu
scipy
statsmodels>=0.13.0
factor_analyzer
